@import './connection-alert'
@import '../../node_modules/nib/lib/nib/vendor'
@import './pure-min.css'
@import './grids-responsive-min.css'

.content-center
    margin-left auto
    margin-right auto
    max-width 768px

.l-box
	margin-top 4em

.pure-control-group
	margin 2em 0

ul
	list-style-type none
	padding 0

	li
		margin 2em 0
		
		p
			white-space pre

textarea
	height 200px

.header
	.fa
		font-size 140%

footer
	color #bbb
	margin-top 200px

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

.pure-button-success
	background: rgb(28, 184, 65); /* this is a green */

.pure-button-error
	background: rgb(202, 60, 60); /* this is a maroon */

.pure-button-warning
	background: rgb(223, 117, 20); /* this is an orange */

.pure-button-secondary
	background: rgb(66, 184, 221); /* this is a light blue */

.inline
	display: inline