<index:>
	<h1>Unknown error</h1>
	<p>{{_page.msg}}</p>

<403:>
	<h1>403</h1>
	<p>Looks like you don't have permission to access <b>{{_page.url}}</b>.</p>
	<p>Try heading back to the <a href="/">home page</a>.</p>

<404:>
	<h1>404</h1>
	<p>Sorry, we can't find anything at <b>{{_page.url}}</b>.</p>
	<p>Try heading back to the <a href="/">home page</a>.</p>

<500:>
	<h1>500</h1>
	<p>Something went wrong on our end. Try giving us a minute to fix it and then <a href="javascript:window.location=window.location">reload your browser</a>.</p>
	<p>Or go the the <a href="/">home page</a>.</p>

